<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 注册 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
    <script src="/static/js/interceptors.js"></script>
    <style>
        .theme-black .tpl-form-line-form, .theme-black .tpl-form-border-form {
            padding-top: 20px;
            padding-bottom: 50px;
        }
    </style>
</head>

<body data-type="widgets">
    <script src="/static/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="/static/img/logo4.png" alt="logo" class="logo-div-height"></a>
            </div>
            <div class="am-fl tpl-header-switch-button am-icon-list">
                <span>

            </span>
            </div>
            <!-- 右侧内容 -->
            <div class="am-g tpl-g">
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>Admin</span> </a>
                        </li>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:;" onclick="logout()">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture admin-logo">
                        <img src="/static/img/hou.jpg" alt="">
                        <!--
                        <embed src="/static/img/admin_logo.svg" type="image/svg+xml" class="admin-logo" />
                        -->
                    </div>
                    <span class="user-panel-logged-in-text">
                        <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                    Admin
                    </span>
                    <!--
                    <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
                    -->
                </div>
            </div>


            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-heading">管理 <span class="sidebar-nav-heading-info"> 管理</span></li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title active">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 数据列表
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                        <li class="sidebar-nav-link">
                            <a href="/admin/user.html" class="sub-active">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理用户
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="/admin/room.html" class="sub-active">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理房间
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="/admin/commodity.html" class="sub-active">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理商品
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="/admin/book_room.html" class="sub-active">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理预订
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="/admin/check_in.html" class="sub-active">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理入住
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="/admin/order_info.html" class="sub-active">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理订单
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/admin_info.html" class="sub-active">
                        <i class="am-icon-clone sidebar-nav-link-logo"></i> 个人信息
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/change_password.html">
                        <i class="am-icon-key sidebar-nav-link-logo"></i> 修改密码
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/check_in.html" class="sub-active">
                        <i class="am-icon-tv sidebar-nav-link-logo"></i> 入住登记
                    </a>
                </li>
            </ul>
        </div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
{#        <div class="tpl-login">#}
            <div class="tpl-login-content">
                <div class="tpl-login-title">修改密码</div>
                <span class="tpl-login-content-info">
                  填写信息
              </span>


                <form class="am-form tpl-form-line-form">
                    <!--
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" id="user-name" placeholder="邮箱">

                    </div>
                    -->
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" id="user_name" placeholder="用户名" readonly>
                    </div>

{#                    <div class="am-form-group">#}
{#                        <input type="text" class="tpl-form-input" id="user_id" placeholder="用户id" readonly>#}
{#                    </div>#}

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" id="old_password" placeholder="请输入原密码">
                    </div>

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" id="password" placeholder="请输入新密码">
                    </div>

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" id="password_2" placeholder="再次输入新密码">
                    </div>

                    <div class="am-alert am-alert-warning" hidden id="alert_error" data-am-alert >
                        <!-- <button type="button" class="am-close" id="alert_error_button">&times;</button> -->
                        <p id="error_info"></p>
                    </div>

                    <div class="am-form-group">

                        <button type="button" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn" onclick="regist()">提交</button>

                    </div>
                </form>
            </div>
        </div>
                        </div></div>
      </div>
{#        </div>#}
    </div>
    </div>

    <!--模态框-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="post">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">教师信息</div>
            <div class="am-modal-bd">
                <!--模态框内容-->
                <div style="text-align: center;">
                    <table border="0" style="margin: auto" width='100%'>
                        <tr>
                            <td>房间号:</td>
                            <td><input type="text" class="am-modal-prompt-input" id="rno"/></td>
                        </tr>
                        <tr>
                            <td>房间类型:</td>
                            <td>
                                <select type="text" class="am-modal-prompt-input" id="style">
                                    <option>单人房间</option>
                                    <option>双人房间</option>
                                    <option>豪华房间</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>房间描述:</td>
                            <td><input type="text" class="am-modal-prompt-input" id="dsc"/></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="am-modal-footer">
                <!--关键是在这里为两个按钮加上data-am-modal-confirm与data-am-modal-cancel属性 class="am-modal-btn" -->
                <span class="am-btn am-btn-primary am-btn-block" id="post_btn" onclick="post(false, null)">提交</span>
                <span class="am-modal-btn">取消</span>
            </div>
        </div>
    </div>

    <!--模态框-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="delete_confirm">
        <div class="am-modal-dialog">
          <div class="am-modal-hd">Admin</div>
          <div class="am-modal-bd">
            你，确定要删除这条记录吗？
          </div>
          <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
          </div>
        </div>
    </div>

    <script src="/static/js/amazeui.min.js"></script>
    <script src="/static/js/amazeui.datatables.min.js"></script>
    <script src="/static/js/dataTables.responsive.min.js"></script>
    <script src="/static/js/app.js"></script>

</body>

<script type="text/javascript">

    function get_user_infos() {
        fly.get(
            "/api/users/cookies"
        ).then(
            function (response) {
                console.log(response)

                let user_name = $.parseJSON($.cookie('user_name'))
                {#let user_id = $.parseJSON($.cookie('user_id'))#}
                $("#user_name").val(user_name)
                {#$("#user_id").val(user_id)#}

            }
        ).catch(
            function (error) {
                console.log(error)
                // alert(error.response.data.error)
                $("#alert_error").removeAttr("hidden")
                $("#error_info").html(error.response.data.error)
            }
        )
    }
    get_user_infos()

    function set_user(password, old_password) {
        fly.patch(
            "/api/admin/change_password",
            {
                "old_password": old_password,
                "password": password,
            }
        ).then(
            function (response) {
                console.log(response)
            }
        ).catch(
            function (error) {
                console.log(error)
                // alert(error.response.data.error)
                $("#alert_error").removeAttr("hidden")
                $("#error_info").html(error.response.data.error)
            }
        )
    }

    function regist() {
        $("#alert_error").attr("hidden", "")
        // let user_name = $("#user_name").val()
        let password = $("#password").val()
        let old_password = $("#old_password").val()
        console.log("DEBUG:", user_name, password, old_password)
        if (old_password.length <= 0) {
            $("#error_info").html("请输入原密码")
            $("#alert_error").removeAttr("hidden")
            return
        }
        if (password.length < 8 || password.length > 20) {
            // alert("密码长度必须大于8小于20")
            $("#error_info").html("密码长度必须大于8小于20")
            $("#alert_error").removeAttr("hidden")
            return
        }
        if (password != $("#password_2").val()) {
            // alert("两次密码不同")
            $("#error_info").html("两次密码不同")
            $("#alert_error").removeAttr("hidden")
            return
        }
        // alert("创建管理员")
        set_user(password, old_password)
    }

    $("#password").bind('input propertychange', function ()
        {
            let password = $("#password").val()
            if (password.length < 8 || password.length > 20) {
                $("#error_info").html("密码长度必须大于8小于20")
                $("#alert_error").removeAttr("hidden")
                return
            }
            else if ($("#password_2").val().length > 0 && password != $("#password_2").val()) {
                $("#error_info").html("两次密码不同")
                $("#alert_error").removeAttr("hidden")
                return
            }
            else {
                $("#error_info").html("")
                $("#alert_error").attr("hidden", "")
            }
        }
    )

    $("#password_2").bind('input propertychange', function ()
        {
            let password = $("#password").val()
            if (password != $("#password_2").val()) {
                $("#error_info").html("两次密码不同")
                $("#alert_error").removeAttr("hidden")
                return
            }
            else {
                $("#error_info").html("")
                $("#alert_error").attr("hidden", "")
            }
        }
    )
</script>

</html>